.custom-shape-divider-top-1669008830 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669008830 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 201px;
}

.custom-shape-divider-top-1669008830 .shape-fill {
    fill: #FFFFFF;
}